src/main/resources/Twitter_Feed_Example.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>2022182b-015e-1000-ae2c-6f5daf9377d6</groupId>
  <name>Twitter Feed Example</name>
  <snippet>
    <processGroups>
      <id>f46b1e8e-0be4-30a8-0000-000000000000</id>
      <parentGroupId>92626634-44fa-306f-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>8fed10ab-9fbe-3734-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1000</backPressureObjectThreshold>
          <destination>
            <groupId>f46b1e8e-0be4-30a8-0000-000000000000</groupId>
            <id>4959a9dd-602e-3031-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>60 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f46b1e8e-0be4-30a8-0000-000000000000</groupId>
            <id>9189b858-4bd5-32c1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>9364f0aa-51cd-300e-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1000</backPressureObjectThreshold>
          <destination>
            <groupId>f46b1e8e-0be4-30a8-0000-000000000000</groupId>
            <id>c4332ffe-239e-3959-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>60 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f46b1e8e-0be4-30a8-0000-000000000000</groupId>
            <id>ad4bbddf-744e-383c-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ca0bf3c0-140e-3874-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1000</backPressureObjectThreshold>
          <destination>
            <groupId>297fe8b9-a74f-3191-0000-000000000000</groupId>
            <id>a8728f5b-262e-30e2-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>60 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
            <id>a010464d-ff9f-3c08-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>054355e4-c1b6-31be-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>1000</backPressureObjectThreshold>
          <destination>
            <groupId>f46b1e8e-0be4-30a8-0000-000000000000</groupId>
            <id>9189b858-4bd5-32c1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>60 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
            <id>a010464d-ff9f-3c08-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>d0611554-9c5c-3092-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
          </descriptors>
          <name>Tweet JsonTreeReader with Schema Text</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-text-property</value>
            </entry>
            <entry>
              <key>schema-registry</key>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>{"namespace":"twitter","type":"record","name":"Tweet","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"text","type":"string"},{"name":"lang","type":"string"},{"name":"favorite_count","type":"long"},{"name":"created_at","type":"string"},{"name":"timestamp_ms","type":"string"},{"name":"user","type":{"type":"record","name":"User","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"name","type":"string"},{"name":"screen_name","type":"string"},{"name":"location","type":["null","string"]},{"name":"url","type":["null","string"]},{"name":"description","type":["null","string"]},{"name":"followers_count","type":"long"},{"name":"friends_count","type":"long"}]}},{"name":"entities","type":{"type":"record","name":"Entities","fields":[{"name":"hashtags","type":{"type":"array","items":{"type":"record","name":"Hashtag","fields":[{"name":"text","type":"string"}]}}},{"name":"user_mentions","type":{"type":"array","items":{"type":"record","name":"UserMention","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"screen_name","type":"string"},{"name":"name","type":"string"}]}}}]}}]}</value>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
          <id>eac3606f-0d7f-399f-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
            <entry>
              <key>Date Format</key>
              <value>
                <name>Date Format</name>
              </value>
            </entry>
            <entry>
              <key>Time Format</key>
              <value>
                <name>Time Format</name>
              </value>
            </entry>
            <entry>
              <key>Timestamp Format</key>
              <value>
                <name>Timestamp Format</name>
              </value>
            </entry>
          </descriptors>
          <name>Tweet JsonTreeReader with HWX Schema Registry</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-name</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>310e913c-6198-3552-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
            <entry>
              <key>Date Format</key>
            </entry>
            <entry>
              <key>Time Format</key>
            </entry>
            <entry>
              <key>Timestamp Format</key>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <controllerServices>
          <id>282b2539-0bfa-36bd-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
          </descriptors>
          <name>Tweet AvroRecordSetWriter with HWX Schema Registry</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>hwx-content-encoded-schema</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-name</value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>310e913c-6198-3552-0000-000000000000</value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>${avro.schema}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
          <id>310e913c-6198-3552-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-hwx-schema-registry-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>url</key>
              <value>
                <name>url</name>
              </value>
            </entry>
            <entry>
              <key>cache-size</key>
              <value>
                <name>cache-size</name>
              </value>
            </entry>
            <entry>
              <key>cache-expiration</key>
              <value>
                <name>cache-expiration</name>
              </value>
            </entry>
          </descriptors>
          <name>HortonworksSchemaRegistry</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>url</key>
              <value>http://localhost:9999/api/v1</value>
            </entry>
            <entry>
              <key>cache-size</key>
              <value>1000</value>
            </entry>
            <entry>
              <key>cache-expiration</key>
              <value>5 min</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
          <id>60d6e625-ff99-3bbb-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <bundle>
            <artifact>nifi-record-serialization-services-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Schema Write Strategy</key>
              <value>
                <name>Schema Write Strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>
                <name>schema-access-strategy</name>
              </value>
            </entry>
            <entry>
              <key>schema-registry</key>
              <value>
                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                <name>schema-registry</name>
              </value>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>
                <name>schema-name</name>
              </value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>
                <name>schema-text</name>
              </value>
            </entry>
          </descriptors>
          <name>Tweet AvroRecordSetWriter with Schema Text</name>
          <persistsState>false</persistsState>
          <properties>
            <entry>
              <key>Schema Write Strategy</key>
              <value>avro-embedded</value>
            </entry>
            <entry>
              <key>schema-access-strategy</key>
              <value>schema-text-property</value>
            </entry>
            <entry>
              <key>schema-registry</key>
            </entry>
            <entry>
              <key>schema-name</key>
              <value>${schema.name}</value>
            </entry>
            <entry>
              <key>schema-text</key>
              <value>{"namespace":"twitter","type":"record","name":"Tweet","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"text","type":"string"},{"name":"lang","type":"string"},{"name":"favorite_count","type":"long"},{"name":"created_at","type":"string"},{"name":"timestamp_ms","type":"string"},{"name":"user","type":{"type":"record","name":"User","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"name","type":"string"},{"name":"screen_name","type":"string"},{"name":"location","type":["null","string"]},{"name":"url","type":["null","string"]},{"name":"description","type":["null","string"]},{"name":"followers_count","type":"long"},{"name":"friends_count","type":"long"}]}},{"name":"entities","type":{"type":"record","name":"Entities","fields":[{"name":"hashtags","type":{"type":"array","items":{"type":"record","name":"Hashtag","fields":[{"name":"text","type":"string"}]}}},{"name":"user_mentions","type":{"type":"array","items":{"type":"record","name":"UserMention","fields":[{"name":"id","type":"long"},{"name":"id_str","type":"string"},{"name":"screen_name","type":"string"},{"name":"name","type":"string"}]}}}]}}]}</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <processGroups>
          <id>ddc7de3c-404e-360a-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>800.1906761691057</x>
            <y>61.67759729694535</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>8b424aeb-5787-3a35-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>54cc9680-94d0-381e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>9c896886-0fff-3156-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>9de5d093-a460-3acc-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>0060e989-5861-326a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>31a45fef-f938-3872-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>b8a1b4b6-0c36-37bd-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>a010464d-ff9f-3c08-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>54cc9680-94d0-381e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>fe23b7d1-43d3-30c3-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>ce5986fa-244b-313d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>matched</selectedRelationships>
              <source>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>0060e989-5861-326a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>1e5b7ea5-a645-33e5-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <bends>
                <x>748.6754150390625</x>
                <y>530.4210205078125</y>
              </bends>
              <bends>
                <x>750.5701293945312</x>
                <y>48.20964050292969</y>
              </bends>
              <destination>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>9c896886-0fff-3156-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>0</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>ddc7de3c-404e-360a-0000-000000000000</groupId>
                <id>ce5986fa-244b-313d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>a010464d-ff9f-3c08-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>937.4591001449371</x>
                <y>439.2165728273219</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Twitter Sample Stream Output Port</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>9c896886-0fff-3156-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>882.4591001449373</x>
                <y>-15.165742621874742</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>
                      <name>Routing Strategy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>has.text</key>
                    <value>
                      <name>has.text</name>
                    </value>
                  </entry>
                  <entry>
                    <key>is.en</key>
                    <value>
                      <name>is.en</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Routing Strategy</key>
                    <value>Route to 'match' if all match</value>
                  </entry>
                  <entry>
                    <key>has.text</key>
                    <value>${text:isEmpty():not()}</value>
                  </entry>
                  <entry>
                    <key>is.en</key>
                    <value>${lang:equalsIgnoreCase("en")}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>RouteOnAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
            </processors>
            <processors>
              <id>ce5986fa-244b-313d-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>263.83645973983374</x>
                <y>465.21657282732184</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Rate Control Criteria</key>
                    <value>
                      <name>Rate Control Criteria</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Maximum Rate</key>
                    <value>
                      <name>Maximum Rate</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Rate Controlled Attribute</key>
                    <value>
                      <name>Rate Controlled Attribute</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Time Duration</key>
                    <value>
                      <name>Time Duration</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Grouping Attribute</key>
                    <value>
                      <name>Grouping Attribute</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Rate Control Criteria</key>
                    <value>flowfile count</value>
                  </entry>
                  <entry>
                    <key>Maximum Rate</key>
                    <value>100</value>
                  </entry>
                  <entry>
                    <key>Rate Controlled Attribute</key>
                  </entry>
                  <entry>
                    <key>Time Duration</key>
                    <value>1 sec</value>
                  </entry>
                  <entry>
                    <key>Grouping Attribute</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ControlRate</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ControlRate</type>
            </processors>
            <processors>
              <id>0060e989-5861-326a-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>263.83645973983374</x>
                <y>220.04896979127977</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Destination</key>
                    <value>
                      <name>Destination</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>
                      <name>Return Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>
                      <name>Path Not Found Behavior</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>
                      <name>Null Value Representation</name>
                    </value>
                  </entry>
                  <entry>
                    <key>lang</key>
                    <value>
                      <name>lang</name>
                    </value>
                  </entry>
                  <entry>
                    <key>text</key>
                    <value>
                      <name>text</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Destination</key>
                    <value>flowfile-attribute</value>
                  </entry>
                  <entry>
                    <key>Return Type</key>
                    <value>auto-detect</value>
                  </entry>
                  <entry>
                    <key>Path Not Found Behavior</key>
                    <value>ignore</value>
                  </entry>
                  <entry>
                    <key>Null Value Representation</key>
                    <value>empty string</value>
                  </entry>
                  <entry>
                    <key>lang</key>
                    <value>$.lang</value>
                  </entry>
                  <entry>
                    <key>text</key>
                    <value>$.text</value>
                  </entry>
                </properties>
                <runDurationMillis>50</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>EvaluateJsonPath</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>matched</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unmatched</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
            </processors>
            <processors>
              <id>31a45fef-f938-3872-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>263.83645973983374</x>
                <y>-15.165742621874742</y>
              </position>
              <bundle>
                <artifact>nifi-social-media-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Twitter Endpoint</key>
                    <value>
                      <name>Twitter Endpoint</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Consumer Key</key>
                    <value>
                      <name>Consumer Key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Consumer Secret</key>
                    <value>
                      <name>Consumer Secret</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Token</key>
                    <value>
                      <name>Access Token</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Access Token Secret</key>
                    <value>
                      <name>Access Token Secret</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Languages</key>
                    <value>
                      <name>Languages</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Terms to Filter On</key>
                    <value>
                      <name>Terms to Filter On</name>
                    </value>
                  </entry>
                  <entry>
                    <key>IDs to Follow</key>
                    <value>
                      <name>IDs to Follow</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Locations to Filter On</key>
                    <value>
                      <name>Locations to Filter On</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Twitter Endpoint</key>
                    <value>Sample Endpoint</value>
                  </entry>
                  <entry>
                    <key>Consumer Key</key>
                  </entry>
                  <entry>
                    <key>Consumer Secret</key>
                  </entry>
                  <entry>
                    <key>Access Token</key>
                  </entry>
                  <entry>
                    <key>Access Token Secret</key>
                  </entry>
                  <entry>
                    <key>Languages</key>
                    <value>en</value>
                  </entry>
                  <entry>
                    <key>Terms to Filter On</key>
                  </entry>
                  <entry>
                    <key>IDs to Follow</key>
                  </entry>
                  <entry>
                    <key>Locations to Filter On</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetTwitter</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.twitter.GetTwitter</type>
            </processors>
            <processors>
              <id>54cc9680-94d0-381e-0000-000000000000</id>
              <parentGroupId>ddc7de3c-404e-360a-0000-000000000000</parentGroupId>
              <position>
                <x>882.4591001449372</x>
                <y>220.04896979127977</y>
              </position>
              <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>
                      <name>Delete Attributes Expression</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>
                      <name>Store State</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                    <value>
                      <name>Stateful Variables Initial Value</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Delete Attributes Expression</key>
                    <value>text|lang</value>
                  </entry>
                  <entry>
                    <key>Store State</key>
                    <value>Do not store state</value>
                  </entry>
                  <entry>
                    <key>Stateful Variables Initial Value</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>UpdateAttribute</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
            </processors>
          </contents>
          <name>Twitter Sample Stream</name>
        </processGroups>
        <processGroups>
          <id>297fe8b9-a74f-3191-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>321.2238351302117</x>
            <y>348.4773309296995</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>9dbc2883-e0f7-331b-0000-000000000000</id>
              <parentGroupId>297fe8b9-a74f-3191-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>297fe8b9-a74f-3191-0000-000000000000</groupId>
                <id>fa780636-ccae-337d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>297fe8b9-a74f-3191-0000-000000000000</groupId>
                <id>a8728f5b-262e-30e2-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>b5c39dc3-8944-3364-0000-000000000000</id>
              <parentGroupId>297fe8b9-a74f-3191-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>1000</backPressureObjectThreshold>
              <destination>
                <groupId>297fe8b9-a74f-3191-0000-000000000000</groupId>
                <id>106a51c3-bb3d-3c3c-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>60 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>297fe8b9-a74f-3191-0000-000000000000</groupId>
                <id>fa780636-ccae-337d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>a8728f5b-262e-30e2-0000-000000000000</id>
              <parentGroupId>297fe8b9-a74f-3191-0000-000000000000</parentGroupId>
              <position>
                <x>346.500004816382</x>
                <y>12.00000576677229</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>PublishKafkaRecord with Embedded Schema Input Port</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <processors>
              <id>fa780636-ccae-337d-0000-000000000000</id>
              <parentGroupId>297fe8b9-a74f-3191-0000-000000000000</parentGroupId>
              <position>
                <x>291.500004816382</x>
                <y>141.00000195207502</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>record-reader</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                      <name>record-reader</name>
                    </value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                      <name>record-writer</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>record-reader</key>
                    <value>d0611554-9c5c-3092-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>record-writer</key>
                    <value>60d6e625-ff99-3bbb-0000-000000000000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>ConvertRecord</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.ConvertRecord</type>
            </processors>
            <processors>
              <id>106a51c3-bb3d-3c3c-0000-000000000000</id>
              <parentGroupId>297fe8b9-a74f-3191-0000-000000000000</parentGroupId>
              <position>
                <x>291.500004816382</x>
                <y>364.000001952075</y>
              </position>
              <bundle>
                <artifact>nifi-kafka-0-10-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.3.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>
                      <name>bootstrap.servers</name>
                    </value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>
                      <name>security.protocol</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                    <value>
                      <name>sasl.kerberos.service.name</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                    <value>
                      <name>sasl.kerberos.principal</name>
                    </value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                    <value>
                      <name>sasl.kerberos.keytab</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>ssl.context.service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>
                      <name>topic</name>
                    </value>
                  </entry>
                  <entry>
                    <key>acks</key>
                    <value>
                      <name>acks</name>
                    </value>
                  </entry>
                  <entry>
                    <key>kafka-key</key>
                    <value>
                      <name>kafka-key</name>
                    </value>
                  </entry>
                  <entry>
                    <key>key-attribute-encoding</key>
                    <value>
                      <name>key-attribute-encoding</name>
                    </value>
                  </entry>
                  <entry>
                    <key>message-demarcator</key>
                    <value>
                      <name>message-demarcator</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.request.size</key>
                    <value>
                      <name>max.request.size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>ack.wait.time</key>
                    <value>
                      <name>ack.wait.time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>max.block.ms</key>
                    <value>
                      <name>max.block.ms</name>
                    </value>
                  </entry>
                  <entry>
                    <key>partitioner.class</key>
                    <value>
                      <name>partitioner.class</name>
                    </value>
                  </entry>
                  <entry>
                    <key>compression.type</key>
                    <value>
                      <name>compression.type</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>bootstrap.servers</key>
                    <value>localhost:9092</value>
                  </entry>
                  <entry>
                    <key>security.protocol</key>
                    <value>PLAINTEXT</value>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.service.name</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.principal</key>
                  </entry>
                  <entry>
                    <key>sasl.kerberos.keytab</key>
                  </entry>
                  <entry>
                    <key>ssl.context.service</key>
                  </entry>
                  <entry>
                    <key>topic</key>
                    <value>tweets.avro.embedded</value>
                  </entry>
                  <entry>
                    <key>acks</key>
                    <value>0</value>
                  </entry>
                  <entry>
                    <key>kafka-key</key>
                  </entry>
                  <entry>
                    <key>key-attribute-encoding</key>
                    <value>utf-8</value>
                  </entry>
                  <entry>
                    <key>message-demarcator</key>
                  </entry>
                  <entry>
                    <key>max.request.size</key>
                    <value>1 MB</value>
                  </entry>
                  <entry>
                    <key>ack.wait.time</key>
                    <value>5 secs</value>
                  </entry>
                  <entry>
                    <key>max.block.ms</key>
                    <value>5 sec</value>
                  </entry>
                  <entry>
                    <key>partitioner.class</key>
                    <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                  </entry>
                  <entry>
                    <key>compression.type</key>
                    <value>none</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>PublishKafka_0_10</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
            </processors>
          </contents>
          <name>PublishKafkaRecord with Embedded Schema</name>
        </processGroups>
        <processors>
          <id>9189b858-4bd5-32c1-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>815.1906761691057</x>
            <y>364.88529754346905</y>
          </position>
          <bundle>
            <artifact>nifi-update-attribute-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
              <entry>
                <key>Store State</key>
                <value>
                  <name>Store State</name>
                </value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
                <value>
                  <name>Stateful Variables Initial Value</name>
                </value>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>
                  <name>schema.name</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
              <entry>
                <key>Store State</key>
                <value>Do not store state</value>
              </entry>
              <entry>
                <key>Stateful Variables Initial Value</key>
              </entry>
              <entry>
                <key>schema.name</key>
                <value>twitter.Tweet</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>ad4bbddf-744e-383c-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>1312.0929432818966</x>
            <y>73.18906599960874</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>topic_type</key>
                <value>
                  <name>topic_type</name>
                </value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>
                  <name>group.id</name>
                </value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>
                  <name>auto.offset.reset</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>
                  <name>max.poll.records</name>
                </value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>
                  <name>max-uncommit-offset-wait</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>localhost:9092</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>tweets.avro.embedded,tweets.avro.hortonworks,tweets.avro.confluent</value>
              </entry>
              <entry>
                <key>topic_type</key>
                <value>names</value>
              </entry>
              <entry>
                <key>group.id</key>
                <value>nifi-ff2017-twitter-feed</value>
              </entry>
              <entry>
                <key>auto.offset.reset</key>
                <value>latest</value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.poll.records</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>max-uncommit-offset-wait</key>
                <value>1 secs</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConsumeKafka_0_10</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_0_10</type>
        </processors>
        <processors>
          <id>c4332ffe-239e-3959-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>1312.0929432818966</x>
            <y>364.88529754346905</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Directory</key>
                <value>
                  <name>Directory</name>
                </value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>
                  <name>Conflict Resolution Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>
                  <name>Create Missing Directories</name>
                </value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
                <value>
                  <name>Maximum File Count</name>
                </value>
              </entry>
              <entry>
                <key>Last Modified Time</key>
                <value>
                  <name>Last Modified Time</name>
                </value>
              </entry>
              <entry>
                <key>Permissions</key>
                <value>
                  <name>Permissions</name>
                </value>
              </entry>
              <entry>
                <key>Owner</key>
                <value>
                  <name>Owner</name>
                </value>
              </entry>
              <entry>
                <key>Group</key>
                <value>
                  <name>Group</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Directory</key>
                <value>/tmp/output/${kafka.topic}</value>
              </entry>
              <entry>
                <key>Conflict Resolution Strategy</key>
                <value>fail</value>
              </entry>
              <entry>
                <key>Create Missing Directories</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Maximum File Count</key>
              </entry>
              <entry>
                <key>Last Modified Time</key>
              </entry>
              <entry>
                <key>Permissions</key>
              </entry>
              <entry>
                <key>Owner</key>
              </entry>
              <entry>
                <key>Group</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutFile</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
          <id>4959a9dd-602e-3031-0000-000000000000</id>
          <parentGroupId>f46b1e8e-0be4-30a8-0000-000000000000</parentGroupId>
          <position>
            <x>815.1906761691057</x>
            <y>607.4381616181761</y>
          </position>
          <bundle>
            <artifact>nifi-kafka-0-10-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.3.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                  <name>record-reader</name>
                </value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                  <name>record-writer</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
                <value>
                  <name>sasl.kerberos.principal</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
                <value>
                  <name>sasl.kerberos.keytab</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>message-key-field</key>
                <value>
                  <name>message-key-field</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>localhost:9092</value>
              </entry>
              <entry>
                <key>topic</key>
                <value>tweets.avro.hortonworks</value>
              </entry>
              <entry>
                <key>record-reader</key>
                <value>eac3606f-0d7f-399f-0000-000000000000</value>
              </entry>
              <entry>
                <key>record-writer</key>
                <value>282b2539-0bfa-36bd-0000-000000000000</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>sasl.kerberos.principal</key>
              </entry>
              <entry>
                <key>sasl.kerberos.keytab</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>message-key-field</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>5 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PublishKafkaRecord with Schema Registry</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_0_10</type>
        </processors>
      </contents>
      <name>Twitter Feed Example</name>
    </processGroups>
  </snippet>
  <timestamp>09/08/2017 12:17:17 CDT</timestamp>
</template>
